.grid-cards-running-line__marquee {
    animation: scroll 40s linear infinite;
}

.reverce {
    animation-direction: reverse;
}

.grid-cards-running-line {
    padding: 103px 0;
}

.grid-cards-running-line__container {
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
    text-align: center;
    max-width: 1920px;
}

.grid-cards-running-line__containerTitle{
    margin: 0 auto;
    width: 64%;
}

.grid-cards-running-line__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 48.76px;

    margin: 0;
    text-align: left;

    width: 700px;
}

.grid-cards-running-line__wrap {
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: 20px;
}

.grid-cards-running-line__grid {
    margin-bottom: 30px;

    flex-shrink: 0;
    display: flex;
    gap: 20px;
    counter-reset: item;
    justify-content: space-around;
    min-width: 100%;
}

.grid-cards-running-line__wrap:hover .grid-cards-running-line__marquee {
    animation-play-state: paused;
}

.grid-cards-running-line__item {
    flex: 0 0 auto;
    width: 292px;
    height: 150px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease-in-out;
    background-color: var(--color-white);
    cursor: pointer;
}

.grid-cards-running-line__item:hover .grid-cards-running-line__img {
    filter: grayscale(0);
}

.grid-cards-running-line__img {
    max-width: 150px;
    object-fit: contain;
    filter: grayscale(1);
    transition: filter 0.3s ease;
}

@media (max-width: 1700px) {
    .grid-cards-running-line__containerTitle{
        width: 84%;
    }

    .grid-cards-running-line__item {
        border-radius: 10px;
    }
}

@media (max-width: 1300px) {
    .grid-cards-running-line__containerTitle {
        width: 94%;
    }
}

@media (max-width: 1024px) {
    .grid-cards-running-line {
        padding: 50px 0;
    }

    .grid-cards-running-line__container {
        width: 94%;
    }

    .grid-cards-running-line__title {
        font-size: 24px;
        line-height: 29px;
        width: 100%;
    }

    .grid-cards-running-line__containerTitle {
        width: 100%;
    }

    .grid-cards-running-line__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;

        margin: 0;
        min-width: unset;
    }

    .grid-cards-running-line__wrap {
        display: block;
    }

    .grid-cards-running-line__wrap:last-child {
        display: none;
    }

    .grid-cards-running-line__grid:last-of-type {
        display: none;
    }

    .grid-cards-running-line__marquee {
        animation: none
    }
}

@media (max-width: 768px) {
    .grid-cards-running-line__grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .grid-cards-running-line__item {
        height: 80px;
    }
}

@media (max-width: 360px) {
    .grid-cards-running-line__grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 3px;
    }

    .grid-cards-running-line__item {
        width: 167px;
        height: 70px;
    }
}
  
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - 20px));
    }
  }
  