.grid-cards-running-line {
    padding: 103px 0;
}

.grid-cards-running-line__container {
    width: 64%;
    margin: 0 auto;
}

.grid-cards-running-line__container_runningLine {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.grid-cards-running-line__containerTitle{
    width: 64%;
    margin: 0 auto;
}

.grid-cards-running-line__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 48.76px;

    padding-bottom: 60px;
    margin: 0;
    text-align: left;

    width: 700px;
}

.grid-cards-running-line__line {
    margin-bottom: 30px;
}

.grid-cards-running-line__item {
    width: 100%;
    max-width: 292px;
    height: 150px;
    background-color: var(--color-white);
    border-radius: 30px;
    flex-shrink: 0;

    position: relative;
    cursor: pointer;
}

.grid-cards-running-line__item:hover .grid-cards-running-line__img {
    filter: grayscale(0);
}

.grid-cards-running-line__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 110px;
    height: 94px;
    object-fit: contain;
    filter: grayscale(1);
    transition: filter 0.3s ease;
}

.grid-cards-running-line__container_animation {
    overflow: hidden;
}

.grid-cards-running-line__grid {
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
}

@media (max-width: 1700px) {
    .grid-cards-running-line__containerTitle {
        width: 84%;
    }

    .grid-cards-running-line__container {
        width: 84%;
    }

    .grid-cards-running-line__container_runningLine {
        width: 100%;
    }

    .grid-cards-running-line__item {
        border-radius: 10px;
    }
}

@media (max-width: 1300px) {
    .grid-cards-running-line__containerTitle {
        width: 94%;
    }

    .grid-cards-running-line__container {
        width: 94%;
    }

    .grid-cards-running-line__container_runningLine {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .grid-cards-running-line {
        padding: 50px 0;
    }

    .grid-cards-running-line__container {
        width: 94%;
    }

    .grid-cards-running-line__title {
        font-size: 24px;
        line-height: 29px;
        padding-bottom: 20px;
        width: 100%;
    }

    .grid-cards-running-line__containerTitle {
        width: 100%;
    }

    .grid-cards-running-line__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
    }

    .grid-cards-running-line__grid:last-of-type {
        display: none;
    }

    .grid-cards-running-line__img{
        width: 91px;
        height: 25px;
    }
}

@media (max-width: 768px) {
    .grid-cards-running-line__grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .grid-cards-running-line__item {
        height: 80px;
    }
}

@media (max-width: 360px) {
    .grid-cards-running-line__grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 3px;
    }

    .grid-cards-running-line__item {
        width: 167px;
        height: 70px;
    }
}