.grid-cards {
    padding: 103px 0;
}

.grid-cards__container {
    margin: 0 auto;
}

.grid-cards__container_runningLine {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.grid-cards__containerTitle {
    width: 64%;
    margin: 0 auto;
}

.grid-cards__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 48.76px;
    margin: 0 40px 0 0;
    text-align: left;
    width: 700px;
}

.grid-cards__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    justify-content: center;
}

.grid-cards__item {
    width: 100%;
    height: 150px;
    background-color: var(--color-white);
    border-radius: 30px;
    position: relative;
}

.grid-cards__grid > .grid-cards__item:nth-last-child(-n+2):nth-child(4n+1) {
    grid-column: 2 / span 1;
}

.grid-cards__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 150px;
    filter: grayscale(1);
    cursor: pointer;
    transition: filter .3s ease;
}

@media (max-width: 1700px) {
    .grid-cards__container {
        width: 84%;
    }

    .grid-cards__container_runningLine {
        width: 100%;
    }

    .grid-cards__item {
        border-radius: 10px;
    }
}

@media (max-width: 1300px) {
    .grid-cards__container {
        width: 94%;
    }

    .grid-cards__container_runningLine {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .grid-cards {
        padding: 50px 0;
    }

    .grid-cards__container {
        width: 94%;
    }

    .grid-cards__title {
        font-size: 24px;
        line-height: 29px;
        width: 100%;
    }

    .grid-cards__containerTitle {
        width: 100%;
    }

    .grid-cards__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
    }

    .grid-cards__img {
        max-width: 90px;
        height: auto;
    }
}

@media (max-width: 768px) {
    .grid-cards__grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .grid-cards__item {
        height: 80px;
    }

    .grid-cards__grid .grid-cards__item:nth-last-child(2) {
        grid-column: 1;
    }
    
    .grid-cards__grid .grid-cards__item:nth-last-child(1) {
        grid-column: 2;
    }
}

@media (max-width: 360px) {
    .grid-cards__grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 3px;
    }

    .grid-cards__item {
        width: 167px;
        height: 70px;
    }
}