section.main {
    position: relative;
    overflow: hidden;
    background-image: url('assets/img/img-main.png');
}

.main__container {
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.main__container_spacebetween {
    gap: 21px;
    justify-content: space-between;
}

.main__description {
    max-width: 570px;
    z-index: 1;
    display: flex;
    min-height: 836px;
    z-index: 1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main__slogan {
    font-size: 24px;
    font-weight: 500;
    line-height: 39px;
    margin: 0;
    margin-bottom: 37px;
}

.main__slogan_smaill {
    font-size: 20px;
    line-height: 30px;
}

.main__video-container {
    position: absolute;
    top: -40px;
    right: 60px;
    width: 830px;
    height: 876px;
}

.main__video-container_second {
    z-index: -1;
    top: -100px;
}

.main__video-container:last-child {
    top: -40px;
    right: 60px;
    width: 830px;
    height: 876px;
}

.main__video, .main__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    mask: url(#video-mask);
    -webkit-mask: url(#video-mask);

    -webkit-mask-image: url('./assets/img/mask.svg');
    mask-image: url('./assets/img/mask.svg');
    -webkit-mask-size: cover;
    mask-size: cover;
}

.second-video .main__video, .second-video .main__img {
    mask: url(#video-mask);
    -webkit-mask: url(#video-mask);
    opacity: 0.2;
    transform: rotate(54deg);

    -webkit-mask-image: url('./assets/img/mask.svg');
    mask-image: url('./assets/img/mask.svg');
    -webkit-mask-size: cover;
    mask-size: cover;
}

.main__actionList {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 37px;
}

.main__actionItem {
    font-size: 20px;
    font-weight: 500;
    line-height: 38px;
    position: relative;
    padding-left: 35px;
}

@media screen and (max-width: 1750px) {
    .main__slogan {
        font-size: 24px;
        line-height: 36px;
    }

    .main__description {
        max-width: 500px;
    }
}

@media screen and (max-width: 1500px) {
    .main__description {
        max-width: 450px;
    }
}

@media screen and (max-width: 1400px) {
    .main__description {
        margin: 50px 0;
        max-width: 100%;
        min-height: auto;
    }

    .main__mask {
        display: none;
    }

    .main__video-container {
        position: static;
        width: 100%;
        height: 480px;
    }

    .second-video {
        display: none;
    }

    .main__video, .main__img {
        width: 100%;
        height: 100%;

        mask: none;
        -webkit-mask: none;
    }
}

@media screen and (max-width: 1024px) {
    .main {
        margin-bottom: 48px;
    }

    .main__video-container {
        height: 380px;
    }

    .main__container_spacebetween {
        margin-top: 30px;
        flex-direction: column-reverse;
    }

    .main__slogan {
        font-size: 16px;
        line-height: 24px;
    }

    .main__button {
        width: 100%;
    }
}