.readyProjects__container {
    margin: 0 auto;
}

.readyProjects__sliderContainer {
    padding-bottom: 56px;
}

.readyProjects__title {
    width: 100%;
}

.readyProjects__text{
    padding: 16px 23px 32px;
}

.readyProjects__description {
    line-height: 24px;
    margin: 0;
    opacity: .5;
    height: 24px;
}

.readyProjects__description_color_pink {
    color: var(--color-accent-pink);
}