
section.quiz .quiz-wrapper {
    height: 520px;
    background-color: var(--color-accent-blue);
    border-radius: 30px;
}

section.quiz .text-wrapper {
    padding-bottom: 30px;
}

@media (max-width: 1024px) {
    section.quiz .quiz-wrapper {
        height: auto;
        background-color: transparent;
    }
}

