.ourSolutions__container {
    margin: 0 auto;
}

.ourSolutions__title {
    width: 600px;
}

.ourSolutions__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 27px;
}

.ourSolutions__item {
    border-radius: 30px;
    background-color: var(--color-white);
    padding: 50px;
}

.ourSolutions__img {
    width: 60px;
    height: 60px;
    margin-bottom: 11px;
}

.ourSolutions__subTitle {
    margin-bottom: 10px;
    height: 55px;
}

.ourSolutions__paragraph {
    margin: 0;
    width: 90%;
}

@media screen and (max-width: 1300px) {
    .ourSolutions__subTitle {
        height: 45px;
    }
}

@media screen and (max-width: 1024px) {
    .ourSolutions__grid {
        grid-template-columns: 100%;
        gap: 13px;
    }

    .ourSolutions__item {
        border-radius: 10px;
        padding: 26px;
    }

    .ourSolutions__title {
        width: 100%;
    }

    .ourSolutions__subTitle {
        height: auto;
        margin-bottom: 20px;
    }

    .ourSolutions__paragraph {
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
        width: 94%;
    }
}