div.news-detail
{
	word-wrap: break-word;
}
div.news-detail img.detail_picture
{
	float:left;
	margin:0 8px 6px 1px;
}
.news-date-time
{
	color:#486DAA;
}
.software-bottom .software-bottom__text {
	font-weight: 500;
	font-size: 22px;
	color: #2C2C3A;
	-webkit-transition: 0.1s;
	-o-transition: 0.1s;
	transition: 0.1s;
}