.navButton_bottom-margin_long {
    margin: 0 auto;
    margin-bottom: 52px;
}

.navButton_bottom-margin_short {
    margin: 0 auto;
    margin-bottom: 33px;
}

.navButton__container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navButton__containerButtons{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}

.navButton__button {
    border: 1px solid var(--color-accent-pink);
    background-color: var(--color-accent-pink);
    transition: background-color ease .2s;

    width: 41px;
    height: 41px;
    border-radius: 20px;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navButton__button:hover {
    border: 1px solid var(--color-accent-pink);
    background-color: var(--white-color);
    transition: background-color ease .2s;
}

.navButton__button_white {
    border: 1px solid var(--color-white);
    background-color: var(--color-white);
}

.navButton__button_white:hover {
    border: 1px solid var(--color-accent-pink);
    background-color: var(--color-accent-pink);
    transition: background-color ease .2s;
}

.navButton__img-span {
    display: block;
    width: 18px;
    height: 10px;
    background-position: center;
    background-repeat: no-repeat;
}

.navButton__img-span_left {
    background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2218%22%20height%3D%2212%22%20viewBox%3D%220%200%2018%2012%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M17.8967%205.80502H1.71484M1.71484%205.80502L6.56939%201.18164M1.71484%205.80502L6.56939%2010.4284%22%20stroke%3D%22white%22%20stroke-width%3D%222%22%2F%3E%3C%2Fsvg%3E');
}

.navButton__img-span_right {
    background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2218%22%20height%3D%2212%22%20viewBox%3D%220%200%2018%2012%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M0.324041%205.80502H16.5059M16.5059%205.80502L11.6513%201.18164M16.5059%205.80502L11.6513%2010.4284%22%20stroke%3D%22white%22%20stroke-width%3D%222%22%2F%3E%3C%2Fsvg%3E');
}

.navButton__button:hover .navButton__img-span_left {
    background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2218%22%20height%3D%2212%22%20viewBox%3D%220%200%2018%2012%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M17.8967%205.80502H1.71484M1.71484%205.80502L6.56939%201.18164M1.71484%205.80502L6.56939%2010.4284%22%20stroke%3D%22%23ED7180%22%20stroke-width%3D%222%22%2F%3E%3C%2Fsvg%3E');
}

.navButton__button:hover .navButton__img-span_right {
    background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2218%22%20height%3D%2212%22%20viewBox%3D%220%200%2018%2012%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M0.324041%205.80502H16.5059M16.5059%205.80502L11.6513%201.18164M16.5059%205.80502L11.6513%2010.4284%22%20stroke%3D%22%23ED7180%22%20stroke-width%3D%222%22%2F%3E%3C%2Fsvg%3E');
}

.navButton__button_white .navButton__img-span_left {
    background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2218%22%20height%3D%2212%22%20viewBox%3D%220%200%2018%2012%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M17.8967%205.80502H1.71484M1.71484%205.80502L6.56939%201.18164M1.71484%205.80502L6.56939%2010.4284%22%20stroke%3D%22%23ED7180%22%20stroke-width%3D%222%22%2F%3E%3C%2Fsvg%3E');
}

.navButton__button_white .navButton__img-span_right {
    background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2218%22%20height%3D%2212%22%20viewBox%3D%220%200%2018%2012%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M0.324041%205.80502H16.5059M16.5059%205.80502L11.6513%201.18164M16.5059%205.80502L11.6513%2010.4284%22%20stroke%3D%22%23ED7180%22%20stroke-width%3D%222%22%2F%3E%3C%2Fsvg%3E');
}

.navButton__button_white:hover .navButton__img-span_left {
    background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2218%22%20height%3D%2212%22%20viewBox%3D%220%200%2018%2012%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M17.8967%205.80502H1.71484M1.71484%205.80502L6.56939%201.18164M1.71484%205.80502L6.56939%2010.4284%22%20stroke%3D%22white%22%20stroke-width%3D%222%22%2F%3E%3C%2Fsvg%3E');
}

.navButton__button_white:hover .navButton__img-span_right {
    background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2218%22%20height%3D%2212%22%20viewBox%3D%220%200%2018%2012%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M0.324041%205.80502H16.5059M16.5059%205.80502L11.6513%201.18164M16.5059%205.80502L11.6513%2010.4284%22%20stroke%3D%22white%22%20stroke-width%3D%222%22%2F%3E%3C%2Fsvg%3E');
}