.slider {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 56px;
}

.slider__items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease;
}

.slider__item {
    border-radius: 30px;
    box-sizing: border-box;
}

.slider__img {
    object-fit: cover;
    width: 100%;
    height: 349px;
    border-radius: 20px;
}

.slider__line {
    padding: 7px 0;
    cursor: pointer;
    position: relative; 
}

.slider__line:before {
    display: block;
    content: "";
    background-color: var(--color-accent-pink-opacity);
    height: 3px;
    position: absolute;
    top: 50%; 
    left: 0;
    right: 0;
    transform: translateY(-50%);
}


.slider__link {
    text-decoration: none;
    color: var(--color-main);
}

/*.slider__item_hover:hover {
    transition: background-color 0.3s ease;
    background-color: var(--color-accent-pink);
}

.slider__item_hover:hover .slider__title {
    transition: color 0.3s ease;
    color: var(--color-white);
}

.slider__item_hover:hover .slider__descriptioin {
    transition: color 0.3s ease;
    color: var(--color-white);
}*/

@media screen and (max-width: 1300px) {
    .slider__items {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        transition: transform 0.3s ease;
    }
}

@media screen and (max-width: 900px) {
    .slider__line {
        display: none;
    }
}

.swiper-scrollbar-drag {
    height: 3px;
    background-color: var(--color-accent-pink);
}