.certificates {
    position: relative;
}

.certificates__marquee {
    animation: scroll 20s linear infinite;
}

.certificates__container {
    margin: 0 auto 45px;
    overflow: hidden;
}

.certificates__wrap {
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: 20px;
}

.certificates__wrap:hover .certificates__marquee {
    animation-play-state: paused;
}

.certificates__flex {
    display: flex;
    align-items: center;
    gap: 15px;
    will-change: transform;

    min-width: 100%;
    margin-right: 130px;
}

.certificates__img {
    filter: grayscale(1);
    transition: filter .3s ease;
    cursor: pointer;
    transition: transform 0.2s ease-out;

    width: 100%;
    max-height: 208px;
    object-fit: contain;
    transition: all 0.1s ease-in-out;
}

.certificates__img:hover {
    filter: grayscale(0);
}

@media screen and (max-width: 1450px) {
    .certificates__grid {
        grid-template-columns: repeat(2, auto);
        justify-content: space-between;
        justify-items: center;
    }
}

@media screen and (max-width: 1024px) {
    .certificates__flex {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0;
    }

    .certificates__marquee {
        animation-play-state: paused;
    }

    .certificates__img {
        max-height: 300px;
    }
}

@media screen and (max-width: 768px) {
    .certificates__img {
        width: 46%;
    }
}

@keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - 20px));
    }
  }
