.certificates {
    position: relative;
}

.certificates__container {
    margin: 0 auto 45px;
    overflow: hidden;
}

.certificates__flex {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: nowrap;
    will-change: transform;
}

.certificates__img {
    height: auto;
    filter: grayscale(1);
    transition: filter .3s ease;
    cursor: pointer;
    transition: transform 0.2s ease-out;
}

.certificates__img:hover {
    filter: grayscale(0);
}

@media screen and (max-width: 1450px) {
    .certificates__grid {
        grid-template-columns: repeat(2, auto);
        justify-content: space-between;
        justify-items: center;
    }
}

@media screen and (max-width: 768px) {
    .certificates__img {
        width: 46%;
    }

    .certificates__img_row_second:first-child {
        width: 60%;
    }

    .certificates__img_row_second:last-child {
        width: 30%;
    }
}
